<?php
$product = $block->getData('product');
?>
<div id="expiration-details-wrapper">
    <div class="expirationDetails">
        <div class="intro">Your product has an expiration date</div>
        <img class="productImage" src="<?= $block->getImage($product) ?>" alt="<?= $product->getName() ?>" />
        <div class="expiration">
            <h3 class="expirationHeading">Expiration Date:</h3>
            <div class="expirationDate"><h2><?= $block->getExpirationDate($product) ?></h2></div>
            <div class="outro">Please refer to the instruction manual that was included with your product for all warning and instructional use.</div>
        </div>
        <div class="help">
            <div class="helpHeading"><h2>Need Help?</h2></div>
            <div class="cms-index-index">
                <div data-content-type="button-item" data-appearance="default" data-element="main" style="display: inline-block;">
                    <a class="pagebuilder-button-primary" href="<?= $block->getContactUrl() ?>" target="" data-link-type="default" data-element="link" style="text-align: center;">
                        <span data-element="link_text">Contact Us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

