<?php
/** @var Brainfed\ProductExpiration\Block\Index $block */
$products = $block->getAllProducts();
$cmsPage = $block->getCmsPage();
?>
<div id="expiration-wrapper">
    <div class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper"><?= $cmsPage->getTitle() ?></span>
        </h1>
    </div>
    <div class="content">
        <?= $cmsPage->getContent() ?>
    </div>
    <div class="search">
        <form id="expiration-search-form" action="<?= $block->getUrl('/') ?>product-expiration/">
            <div class="search-title-container"><span class="search-title"><h2>Search</h2></span></div>
            <div class="search-container"><input id="expiration-search" name="search" value="<?= $block->getRequest()->getParam('search') ?>"/></div>
        </form>
    </div>
    <?php foreach ($products as $product): ?>
        <ul class="products">
                <li>
                    <a href="<?= $block->getUrl('/' )?>product-expiration/details?product=<?= $product->getId() ?>">
                        <div class="product">
                            <div class="mainImage">
                                <img src="<?= $block->getImage($product) ?>" alt="<?= $product->getName() ?>" />
                            </div>
                            <div class="productName">
                                <?= $product->getName() ?>
                            </div>
                        </div>
                    </a>
                </li>
        </ul>
    <?php endforeach ?>
</div>
<script type="text/javascript">
    require(['jquery', 'slick'], function($){
        $('.products').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
