#expiration-wrapper {
    padding-top: 100px;
    .page-title-wrapper {
        text-align: center;
    }
    .description {
        width: 980px;
        margin: 0 auto 50px auto;
    }
    .search {
        width: 100%;
        text-align:center;
        clear:both;
        padding-bottom: 60px;
        #expiration-search-form {
            width: 490px;
            margin: auto;
        }
        .search-title-container,
        .search-container {
            float:left;
        }
        .search-title-container {
            padding-top: 6px;
            margin-right: 10px;
        }
        .search-title {
            margin-top: 10px;
            h2 {
                display: inline;
            }
        }
        #expiration-search {
            padding: 10px;
            width: 400px;
            border-radius: 15px;
            border: 1px solid #e4e4e4;
        }
    }
    .category-heading {
        width: 100%;
        text-align: center;
        clear: both;
        margin: 20px 0;
    }
    .products {
        .slick-track {
            margin: 0 auto !important;
        }
        .product {
            width: 100%;
            float: left;
            text-align: left;
            display: table-cell;
            padding: 10px;

            .productName {
                vertical-align: bottom;
                width: 100%;
                text-align: center;
            }

            .mainImage {
                max-height: 277px;
                img {
                    width: auto;
                    max-height: 277px;
                    margin: 0 auto;
                }
            }
        }
    }
}

#expiration-details-wrapper {

    .page-title-wrapper {
        text-align: center;
    }

    .expirationDetails {
        max-width: 90%;
        margin: 0 auto;

        .intro {
            text-align: center;
            margin-bottom: 50px;
        }

        .productImage {
            float: left;
            width: 49%;
            padding: 0 20px 20px 20px;
        }

        .expiration {
            float: left;
            width: 47%
        }

        .expirationDate, .expirationDate, .videoContainer, .outro {
            margin: 20px 0;
        }

        .videoContainer {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;

            .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .help {
            clear:both;
            width: 100%;
            text-align: center;
            .helpHeading {
                padding: 20px 0 0 0;
            }
        }
    }
}

/**
*   Mobile view
 */

@media only screen and (max-width: 500px) {
    #expiration-wrapper {
        .page-title-wrapper {
            text-align: center;
            padding: 20px;
        }
        .description {
            width: 90%;
            margin: 0 auto;
        }
        .search {
            #expiration-search {
                width: 200px;
            }
            #expiration-search-form {
                width: 300px;
            }
        }
        .products {
            .product {
                width: 100%;
                float: none;
                text-align: left;
                display: table-cell;
                padding: 20px;
                .productName {
                    vertical-align: bottom;
                    width: 100%;
                }
                .mainImage {
                    max-height: 277px;
                    img {
                        width: auto;
                        max-height: 277px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    #expiration-details-wrapper {
        .page-title-wrapper {
            text-align: center;
            padding: 20px;
        }
        .expirationDetails {
            .productImage {
                float: none;
                width: 100%;
                min-height: auto;
            }
            .expiration {
                float: none;
                width: 100%;
            }
        }
    }
}
